[main]
; Do not use FirePHP in production
firephp = false
timezone = "Europe/Rome"

[routing]
index = ""
pratice = "esercizi"

[paths]
pages = "pages"
templates = "templates"
public = "public"
pratice = "pratice"

[locations]
examples = "examples"
pratice  = "esercizi"


